* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "roboto";
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

:root {
  --green: #204051;
  --gray: #f2f2f2;
}

body {
  -webkit-smoothing: antialiased;
  display: flex;
  justify-content: center;
  margin-top: 119px;
}

.container {
  width: 1218px;
  height: 743px;
  display: flex;
  flex-direction: row;
}

.item-1 {
  display: flex;
  justify-content: center;
  background: var(--green);
  align-items: center;
  border-radius: 25px 0 0 25px;
  width: 732px;
}

.item-1 > .content {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #d7f6e9;
  margin-top: 2rem;
}

.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
  width: 486px;
  border-radius: 0 25px 25px 0;
}

h1 {
  margin-bottom: 2rem;
}

input {
  width: 358px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  background: none;
  margin: 8px 0;
  padding: 5px;
}

button {
  width: 370px;
  height: 40px;
  border: 0;
  border-radius: 16px;
  background: var(--green);
  color: #f2f2f2;
  margin: 8px 0;
  font-size: 16px;
  transition: all 0.7s;
}

.item-2 > .content {
  display: flex;
  flex-direction: column;
}

button:hover {
  opacity: 0.75;
}
